.application-box {
    width: 56rem !important;
    margin-top: 4rem;
}
.application-bg {
    background-image: url("images/home-top-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 10%;
}
.basecamp-logo {
    text-align: center;
    margin-top: 3rem;
}

.content {
    padding-top: 75px;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10;
}

.home-image {
    padding-left: 8rem;
}
