#applicant {
    width: 60%
}

.application-box {
    width: 56rem !important;
    margin-top: 1rem;
}

.basecamp-logo {
    text-align: center;
    margin-top: 7rem;
}

body {
    font-size: 14px !important;
}

.content {
    padding-top: 75px;
}

.center-spacer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.fill {
    width: 100%;
    height: 20%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}

header {
    padding-top: 54px;
}

#home-footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10;
}

.home-image {
    padding-left: 8rem;
}

.student-border {
    border: 5px double black;
}

.darker-break {
    background-color: black;
}

#ineligible-btn {
    float: right;
}
.interview-link:hover {
    background-color: #819aa1;
    color: white;
}
.link-text:hover {
    text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px){
    #applicant {
        width: 85%;
    }
    #myCarousel{
        width: 100%;
    }
    .application-box {
    width: 100%!important;
    }

    .home-image{
        padding: 0;
        width: 100%;
    }
}

