.application-box {
    width: 56rem !important;
    margin-top: 4rem;
}
.application-bg {
    background-image: url("images/home-top-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 10%;
}
.basecamp-logo {
    text-align: center;
    margin-top: 3rem;
}
