<html>
    <head>
        <title>Base Camp Nomination</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="../css/main.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <noscript> <link rel="stylesheet" href="/css/noscript.css"/></noscript>
        <noscript> <link rel="stylesheet" href="../css/noscript.css"/></noscript>
    </head>
    <body class="bg-light">
    <nav style="background-color: #3b1b0c" class="navbar navbar-expand-lg border-bottom border-dark sticky">
        <ul class="navbar-nav mr-auto nav">
            <li class="nav-item">
                <a class="nav-link text-white" href='/'> Home </a>
            </li>
            <li class="nav-item active">
                <a class=" nav-link text-white" href='/interview'> Interview </a>
            </li>
            <li class="nav-item active">
                <a class=" nav-link text-white" href="/resources">
                    Resources
                </a>
            </li>
        </ul>
    </nav>
    <header id="myCarousel" class="carousel slide">
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div
                        class="fill"
                        style="background-image:url('../images/home-top-bg.png');"
                >
                    <span class="center-spacer"></span>
                    <img
                            src="../images/basecamp-logo.png"
                            style="vertical-align:middle;"
                            alt="Base Camp Coding Academy"
                    />
                </div>
            </div>
        </div>
    </header>
        {{#applicant}}

        <!-- name
            email,
            school,
            eligibility,
            age,
            phoneNumber,
            graduation,
            plan,
            aptitude,
            dedication,
            passion -->
            <div class="container pt-3 pb-3 pr-3">
                <div id="applicant" class="mx-auto pl-3 student-border pt-3 shadow-lg pr-3">
                    <h1>- {{name}}</h1>
                    <p class="">- Age: {{age}}</p>
                    <p>- Phone Number: {{phoneNumber}}</p>
                    <p>- Are they eligible? {{applicant.getEligibilityText}}</p>
                    <p>- Email address: {{email}}</p>
                    <p>- Graduation Date: {{graduation}}</p>
                    <p>- High School: {{school}}</p>
                    <hr class="darker-break"/>
                    <h4>----Essay Questions----</h4>
                    <p>- What was their plan before Base Camp? </p>
                    <p>Answer: <span class="text-break">{{plan}}</span> </p>
                    <p>- A time when they were a problem solver... </p>
                    <p class="">Answer: <span class="text-break">{{aptitude}}</span> </p>
                    <p>- Are they dedicated?</p>
                    <p> Answer: <span class="text-break">{{dedication}}</span></p>
                    <p>- What they are passionate about... </p>
                    <p class="">Answer: <span class="text-break">{{passion}}</span></p>
                    <p>- How did they hear about Base Camp Coding Academy</p>
                    <p class="">Answer: <span class="text-break">{{basecamp}}</span></p>

                </div>
            </div>
        {{/applicant}}
</html>
