<html>
    <head>
        <title>Base Camp Nomination</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="/css/main.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <noscript> <link rel="stylesheet" href="/css/noscript.css"/></noscript>
    </head>
    <body class="bg-light">
        <nav
            style="background-color: #3b1b0c"
            class="navbar navbar-expand-lg border-bottom border-dark sticky"
        >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/"> Home </a>
                </li>
                <li class="nav-item active">
                    <a class=" nav-link text-white" href="/interview">
                        Interview
                    </a>
                </li>
            </ul>
        </nav>
        <header id="myCarousel" class="carousel slide">
                <!-- Wrapper for Slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <!-- Set the first background image using inline CSS below. -->
                        <div
                            class="fill"
                            style="background-image:url('../css/images/home-top-bg.png');"
                        >
                            <span class="center-spacer"></span>
                            <img
                                src="../css/images/basecamp-logo.png"
                                style="vertical-align:middle;"
                                alt="Base Camp Coding Academy"
                            />
                        </div>
                    </div>
                </div>
        </header>
        

        {{#applicant}}
        <!-- name
            email,
            school,
            eligibility,
            age,
            phoneNumber,
            graduation,
            plan,
            aptitude,
            dedication,
            passion -->
        <p>{{name}}</p>
        {{/applicant}}
</html>
