<html>
    <head>
        <title>Base Camp Nomination</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="css/main.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>
    <body class="bg-light">
        <nav style="background-color: #3b1b0c" class="navbar navbar-expand-lg border-bottom border-dark sticky">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href='/'> Home </a>
                </li>
                <li class="nav-item active">
                    <a class=" nav-link text-white" href='/interview'> Interview </a>
                </li>
            </ul>
        </nav>
        <header id="myCarousel" class="carousel slide">
                <!-- Wrapper for Slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <!-- Set the first background image using inline CSS below. -->
                        <div
                            class="fill"
                            style="background-image:url('css/images/home-top-bg.png');"
                        >
                            <span class="center-spacer"></span>
                            <img
                                src="css/images/basecamp-logo.png"
                                style="vertical-align:middle;"
                                alt="Base Camp Coding Academy"
                            />
                        </div>
                    </div>
                </div>
            </header>
    <div class="">
        <div class="container application-box pt-3 border p-4 bg-white shadow">
            <div class="pb-3">
                <div style="background-color: #6e4015" class="card ">
                    <div class="card-body text-center text-white">
                        <h1 class="card-title">Welcome to the application process!</h1>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <h6 class="mt-2 mb-3">
                    Base Camp Coding Academy</br>
                    301 North Main Street<br>
                    Water Valley, MS 38965<br>
                    <a href="/">http://www.basecampcodingacademy.org</a> <br>
                </h6>
                <h6 class="mb-2">
                    Thank you for applying to BCCA! This is the first step of a two part 
                    application process. Strong candidates will be contacted for an in-person interview, so make 
                    sure to check your email for follow-up! Base Camp is a targeted program for north Mississippi high school 
                    seniors able to live within driving distance of Water Valley.
                </h6>
                <h6 class="mb-2">
                    Space at BCCA is very limited. This is a huge opportunity, and responsibility. 
                    Please help us understand why you are the right person to receive this opportunity.
                    In order to be eligible to apply you must have first been nominated by a teacher, employer, or other 
                    qualified individual who can speak to your abilities.
                </h6>
            </div>
            <form class=" d-flex flex-column" action="/apply" method="POST">
                <div class="form-group">
                        <h4>Name: </h4>
                        <input type="text" name="name" placeholder="John Doe" required/>
                  
                </div>
                <div class="form-group">

                    {{#text}}
                        <p class="text-danger">{{.}}</p>
                    {{/text}}

                   <h4> Email:</h4>
                        <input
                            type="email"
                            name="email"
                            placeholder="johndoe@email.com"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        />
                  
                </div>
                <div class="form-group">

                   <h4> Current School:</h4>
                        <input type="text" name="school" placeholder="Town High School" required/>
                    
                </div>
                <div class="form-group">

                    <h4>Do you meet our eligibility requirements?</h4>
                    <h6>Are you a high school senior? Have you been nominated? Do you live in north Mississippi? </h6>
                    <div class="d-flex">
                        <div class="form-check pr-2">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="eligibility"
                                id="exampleRadios1"
                                value="yes"
                                checked
                            required />
                            <label
                                class="form-check-label"
                                for="exampleRadios1"
                            >
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="eligibility"
                                id="exampleRadios2"
                                value="no"
                            required />
                            <label
                                class="form-check-label"
                                for="exampleRadios2"
                            >
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <h4> Age:</h4>
                        <input type="number" name="age" placeholder="18" />
                </div>
                <div class="form-group">

                    
                       <h4> Phone Number:</h4>
                        <input
                            type="text"
                            name="phoneNumber"
                            placeholder="123-456-7890"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                        required />
                </div>
                <div class="form-group">

                    <h4>Graduation Date:</h4>
                        
                        <input type="text" name="graduation" placeholder="02/14/20"  pattern="[0-9]{2}/[0-9]{2}/[0-9]{2}" required/>
                  
                </div>

                <div class="container">
                    <div class="pb-3">

                        <div style="background-color: #6e4015" class="card ">
                            <div class="card-body text-center text-white">
                                <h4 class="card-title">Base Camp Coding Academy is looking for students with the aptitude,
                                     and the dedication, to succeed in this program. Please share stories and examples of
                                      these two traits that demonstrate why you believe you will make an excellent candidate. </h4>
                            </div>
                        </div>
                    </div>

                </div>

                

                <div class="pb-3">

                     <h4> What is your current plan for next year? </h4>
                    <h6>What do you plan to do after you graduate high school if it were not for Base Camp?</h6>
                    <textarea
                            rows="4"
                            cols="50"
                            name="plan"
                            value="My plan"
                            class="form-control"
                    required></textarea>
                </div>
                <div class="pb-3">

                        <h4>Aptitude: </h4>
                    <h6>Please share a specific example of when you were a
                            strong problem solver.</h6>
                    <textarea
                        class="form-control"
                        rows="4"
                        cols="50"
                        name="aptitude"
                        value="My aptitude"
                    required></textarea>
                    
                </div>
                <div class="pb-3">

                        <h4>Dedication / Work Ethic / Heart: </h4>
                
                    <h6>Please share a specific example of your dedication and work ethic.</h6>
                    <textarea
                        rows="4"
                        cols="50"
                        name="dedication"
                        value="My dedication"
                        class="form-control"
                    required></textarea>
                    
                </div>
                <div class="pb-3">

                        <h4>Passion / Persistence: </h4>

                    <h6>Please tell us about something you are passionate
                            about and have worked hard to achieve.
                            
                            This can be clubs, sports teams, hobbies, church
                            groups, etc.</h6>
                    <textarea
                        rows="4"
                        cols="50"
                        name="passion"
                        value="My passion"
                        class="form-control"
                    required></textarea>

                </div>
                <div class="form-group">

                    <button class="btn btn-success">Submit</button>
                </div>
                </div>
            </form>
        </div>
        <div>
            <footer class="d-flex justify-content-center text-muted mt-3 mb-3">This form was created inside of Base Camp Coding Academy.</footer>
        </div>
    </div>
    </body>
</html>
