<html>
    <head>
        <title>Base Camp Nomination</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="/css/main.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <noscript> <link rel="stylesheet" href="/css/noscript.css"/></noscript>
    </head>
    <body>
        <nav
            style="background-color: #3b1b0c"
            class="navbar navbar-expand-lg pb-3"
        >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/apply"> Apply </a>
                </li>
                <li class="nav-item active">
                    <a class=" nav-link text-white" href="/interview">
                        Interview
                    </a>
                </li>
            </ul>
        </nav>

        <div class="container pt-5 pb-5">
            <div class="card pt-5 pb-5" style="background-color: #75d2f3">
                <div class="card-body text-white text-center">
                    <h1 class="card-title">Welcome</h1>
                </div>
            </div>
        </div>
        
        <div class="container pb-3">
            <h1> What is Base Camp Coding Academy? </h1>
            <p>Located in Water Valley, MS, Base Camp Coding Academy (BCCA) is a hands-on, challenging and fun program, designed to train students to be software developers in 12 months. </p>
            
            
            <p>In a small classroom setting, you will work with real world technologies to learn the fundamentals of coding, app development and the life leadership skills you will need to 
            be successful in your career and competitive in the job market.</p>
        </div>
        <div class="container">
            <img src="css/images/home-bg.png" alt="" class="home-image" />
        </div>
    </body>
</html>
