<html>
<head>
        <title>Base Camp Nomination</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
        />
        <link rel="stylesheet" href="/css/main.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>


    <body class="bg-light">
            <nav style="background-color: #3b1b0c" class="navbar navbar-expand-lg border-bottom border-dark sticky">
                <ul class="navbar-nav mr-auto nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href='/'> Home </a>
                    </li>
                    <li class="nav-item active">
                        <a class=" nav-link text-white" href='/apply'> Apply </a>
                    </li>
                </ul>
             </nav>

             <header id="myCarousel" class="carousel slide">
                     <!-- Wrapper for Slides -->
                     <div class="carousel-inner">
                         <div class="item active">
                             <!-- Set the first background image using inline CSS below. -->
                             <div
                                 class="fill"
                                 style="background-image:url('images/home-top-bg.png');"
                             >
                                 <span class="center-spacer"></span>
                                    <img
                                     src="images/basecamp-logo.png"
                                     style="vertical-align:middle;"
                                     alt="Base Camp Coding Academy"
                                 />
                             </div>
                         </div>
                     </div>
             </header>

             <img scr="css/images/home-top-bg">
             <div class="container pt-5">
                     <form action="/resources" method="GET">
                         {{#string}}
                         <lower class="text-success mx-auto pb-3">
                             {{.}}
                         </lower>
                         {{/string}}
                        <h1>Resources </h1>
                        <hr>
                        <div class="d-flex pt-3" id="resources-container">
                            <div class="card mr-5" style="width: 18rem;">
                              <img src="/images/baseCampInauguralYear.png" class="card-img-top">
                              <div class="card-body">
                               <a href="https://www.youtube.com/watch?v=D_Z1dhiPPxE">Inaugural Year at Base Camp Coding Academy</a>
                              </div>
                            </div>

                             <div class="card mr-5" style="width: 18rem;">
                                   <img src="/images/mudandmagnolias.png" class="card-img-top">
                                   <div class="card-body">
                                     <a href="https://mudandmagnolias.com/base-camp-coding-academy/"> Base Camp Coding Academy: No Experience Necessary </a>
                                   </div>
                             </div>

                           <div class="card mr-5" style="width: 18rem;">
                               <img src="/images/pbs.png" class="card-img-top">
                               <div class="card-body">
                                  <a href="https://www.pbs.org/video/getting-to-work-in-it-base-camp-coding-academy-c1jto9/">
                                  Getting to Work in IT: Base Camp Coding Academy </a>
                               </div>
                           </div>
                        </div>
                     </form>
             </div>

     </body>
</html>